@using AutomatedSurvey.Web.Utilities
<h2 style="margin-top: 60px">Call @Credentials.TwilioPhoneNumber To take a survey.</h2>
@using (Html.BeginForm("SendSms", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">@Html.TextBox("number", string.Empty, new { placeholder = "Enter number", @class = "form-control" })</div>
        <button type="submit" class="btn btn-success col-md-2">Send sms</button>
    </div>
}
<div id="validation-fdfdf">
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
</div>