@model IEnumerable<string>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert" id="validation-error-temp-data">
            @foreach (string error in Model)
            {
                @error
                <br/>
            }
        </div>
    </div>
</div>